{# Start Landing Page Image #}
<div class="landing">
	<div class="home-wrap">
		<div class="home-inner"></div>
	</div>
</div>
{# End Landing Page Image #}

{# Start Landing Page Caption #}
<div class="caption text-center">
	<div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
		<h1>Welcome to Nuno</h1>
	</div>

	<div class="os-animation" data-animation="bounceInUp" data-delay=".8s">
		<h3>Animated Bootstrap Theme</h3>
	</div>

	<div class="os-animation" data-animation="bounceInUp" data-delay="1s">
		<a class="btn btn-outline-light btn-lg" href="#features">Get Started</a>
	</div>
</div>
{# End Landing Page Caption #}

{# Start Bouncing Down Arrow #}
<a class="down-arrow" href="#features">
	<div class="arrow bounce d-none d-md-block">
		<i class="fas fa-angle-down" aria-hidden="true"></i>
	</div>
</a>
{# End Bouncing Down Arrow #}