<aside class="list conferences aside section">
    <div class="section-inner">
        <h2 class="heading">Conferences</h2>
        <div class="content">
            <ul class="list-unstyled">
                
                {# @TODO List Of Conference Complet #}
                <li><i class="far fa-calendar-alt"></i> <a href="#" target="_blank">WWDC 2020</a> (San Francisco)</li>
                
            </ul>
        </div>
    </div>
</aside>