<aside class="languages aside section">
    <div class="section-inner">
        <h2 class="heading">Languages</h2>
        <div class="content">
            <ul class="list-unstyled">
                
                {% for language in languages %}
                    <li class="item">
                        <span class="title"><strong>{{ language.language }} :</strong></span>
                        <span class="level">{{ language.level }} <br class="visible-xs"/>
                            {% for i in 1..language.star %}
                                <i class="fas fa-star"></i>
                            {% endfor %}
                        </span>
                    </li>
                {% endfor %}
                
            </ul>
        </div>
    </div>
</aside>