<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Expérience</h2>
        <div class="content">
            <p class="intro">
                Voilà quelques années que je m'interresse au web et developpement de sites. J'ai fait mes premières armes en html. Suite a une formation, j'ai découvert l'univers du backend et pris en main des frameworks tels que Symfony, Laravel, etc... J'apprends actuellement Docker en autodidacte.
            </p>
            
            <div class="skillset">

                {% for skill in skills %}
                    <div class="item">
                        <h3 class="level-title">{{ skill.technology }}<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i class="fas fa-info-circle"></i>{{ skill.levelLabel }}</span></h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ skill.levelPercent }}%">
                            </div>                                      
                        </div>
                    </div>
                {% endfor %}
                
            </div>              
        </div>
    </div>
</aside>