<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education</h2>
        <div class="content">
            
            {# @TODO List of School Complet #}
            <div class="item">                      
                <h3 class="title"><i class="fas fa-graduation-cap"></i> MSc Computer Science</h3>
                <h4 class="university">University College London <span class="year">(2011-2012)</span></h4>
            </div>

        </div>
    </div>
</aside>