<aside class="credits aside section">
    <div class="section-inner">
        <h2 class="heading">Credits</h2>
        <div class="content">
            <ul class="list-unstyled pb-2">
                
                {# @TODO List Of Techno Used + Links + Icones #}
                <li><a href="https://getbootstrap.com/" target="_blank"><i class="fas fa-external-link-alt"></i>Bootstrap</a></li>
                
            </ul>
        </div>
    </div>
</aside>