<div class="secondary col-lg-4 col-12">

    {% include "main/layout/secondary/_aside_info.html.twig" %}
    
    {% include "main/layout/secondary/_aside_skill.html.twig" %}
    
    {% include "main/layout/secondary/_aside_testimonial.html.twig" %}
    
    {% include "main/layout/secondary/_aside_education.html.twig" %}
    
    {% include "main/layout/secondary/_aside_language.html.twig" %}
    
    {% include "main/layout/secondary/_aside_song.html.twig" %}
    
    {% include "main/layout/secondary/_aside_techno.html.twig" %}

</div>