<section class="latest section">
    <div class="section-inner">
        <h2 class="heading">Derniers Projets</h2>
        <div class="content">    
                                
            {# @TODO Lastest Project #}
            <div class="item featured text-center">
                <h3 class="title"><a href="{{ path('index_restau') }}" target="_blank">Nuno Thème</a></h3>
                <p class="summary">The perfect Bootstrap 4 admin template for app developers</p>
                <div class="featured-image has-ribbon">
                    <a href="#" target="_blank">
                    <img class="img-fluid project-image" src="{{ asset('main/images/projects/project-featured.jpg') }}" alt="project name" />
                    </a>
                    <div class="ribbon">
                        <div class="text">New</div>
                    </div>
                </div>
                    
                <div class="desc text-left">                                    
                    <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
                </div><!--//desc-->         
                <a class="btn btn-cta-secondary" href="#" target="_blank"><i class="fas fa-thumbs-up"></i> Back my project</a>                 
            </div><!--//item-->

            <hr class="divider" />

            {# @TODO All Project Limit = 5 #}
            <div class="item row">
                <a class="col-md-4 col-12" href="#" target="_blank">
                <img class="img-fluid project-image" src="{{ asset('main/images/projects/project-1.png') }}" alt="project name" />
                </a>
                <div class="desc col-md-8 col-12">
                    <h3 class="title"><a href="#" target="_blank">Instance - Bootstrap 4 Portfolio Theme for Aspiring Full Stack Developers</a></h3>
                    <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                    <p><a class="more-link" href="#" target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                </div><!--//desc-->                          
            </div><!--//item-->
            
        </div><!--//content-->  
    </div><!--//section-inner-->                
</section><!--//section-->