<div class="primary col-lg-8 col-12">

    {% include "main/layout/primary/_about.html.twig" %}
    
    {% include "main/layout/primary/_lastest_project.html.twig" %}
    
    {% include "main/layout/primary/_other_project.html.twig" %}
    
    {% include "main/layout/primary/_work_experience.html.twig" %}
    
    {% include "main/layout/primary/_gh_widget.html.twig" %}

</div>