{% extends 'restaurant/base.html.twig' %}

{% block title %}@TODO
{% endblock %}

{% block body %}

	{% include "restaurant/layout/_nav_start.html.twig" %}
	{% include "restaurant/layout/_nav_end.html.twig" %}

<div id="title-heading">
<div class="row">
	<div class="col-12 os-animation" data-animation="fadeInLeft">
	<h3 class="title-heading">Our Portfolio</h3>
	<div class="title-heading-underline">
	</div>
</div>
</div>

{# Start Portfolio Section #}
<div id="portfolio" class="offset">

<div class="row padding">
	{# <div class="col-12 os-animation" data-animation="fadeInUp">
		<h3 class="heading">blabla</h3>
		<div class="heading-underline"></div>
	</div> #}
</div> {# End Row #}

{# Start Portfolio Grid #}
<div class="container-fluid">
<div class="row no-padding">
	
	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
		<div class="portfolio-item">
			<a href="img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
				<img class="example-image" src="img/portfolio/1.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft">
		<div class="portfolio-item">
			<a href="img/portfolio/2.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/2.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight">
		<div class="portfolio-item">
			<a href="img/portfolio/3.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/3.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
		<div class="portfolio-item">
			<a href="img/portfolio/4.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/4.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
		<div class="portfolio-item">
			<a href="img/portfolio/5.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/5.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInLeft">
		<div class="portfolio-item">
			<a href="img/portfolio/6.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/6.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight">
		<div class="portfolio-item">
			<a href="img/portfolio/7.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/7.png" alt="">
			</a>
		</div>
	</div>
	</div>

	<div class="col-sm-6 col-md-3">
	<div class="os-animation" data-animation="bounceInRight" data-delay=".2s">
		<div class="portfolio-item">
			<a href="img/portfolio/8.png" data-lightbox="example-set">
				<img class="example-image" src="img/portfolio/8.png" alt="">
			</a>
		</div>
	</div>
	</div>

</div> {# End Row #}
</div> {# End Container #}
{# End Portfolio Grid #}

<div class="os-animation" data-animation="fadeInUp">
<div class="narrow text-center">
	<div class="col-12">
		<p class="lead">Get in contact with us to see more of our great portfolio design work in addition to web development projects such as websites, apps and more!</p>
		<a class="btn btn-secondary btn-sm" href="{{ path('contact_restau') }}">Get In Touch</a>
	</div>
</div>
</div>

</div>
{# End of Portfolio Section #}

{# Start Contact Section #}
<div id="contact" class="offset">

<footer>
<div class="row text-center">

	<div class="col-md-4">
		<img src="img/nuno.png" alt="">
		<p>At our core is a collection of design and development solutions that represent everything your business needs to compete in the modern marketplace.</p>
	</div>

	<div class="col-md-4">
		<h3 class="text-center">CONTACT INFO</h3>
		<strong>Our Location</strong>
		<p>100 Street Name<br/>Our City, AA 10000</p>
		<strong>Contact Info</strong>
		<p>(888) 888-8888<br>email@nuno.com</p>
	</div>

	<div class="col-md-4">
		<h3 class="text-center">CONNECT WITH US</h3>
		<a href="#"><i class="fab fa-facebook-square"></i></a>
		<a href="#"><i class="fab fa-twitter-square"></i></a>
		<a href="#"><i class="fab fa-instagram"></i></a>
		<a href="#"><i class="fab fa-reddit-square"></i></a>
		<a href="#"><i class="fab fa-linkedin"></i></a>
		<br><br>
		<a class="btn btn-outline-light btn-sm" href="{{ path('contact_restau') }}">SEND US AN EMAIL</a>
	</div>

	<hr class="socket">
	&copy; Nuno Theme.

</div> {# End of Row #}
</footer> {# End of Footer #}

</div>
{# End of Contact Section #}

{# Top Scroll #}
<a href="#home" class="top-scroll">
	<i class="fas fa-angle-up"></i>
</a>
{# End of Top Scroll #}

{% endblock %}
